<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>Vladimir Gvaramadze / N01636204</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Contact: vovka.gvaramadze@mail.ru</p>
    </footer>
</body>

</html>